d6tflow
numpy
matplotlib
pandas
pandas_flavor
pypi
pyinstaller
tqdm
seaborn
scikit_learn
statsmodels
Flask==2.0.1
flask_restx==0.5.1
https://github.com/pandas-profiling/pandas-profiling/archive/master.zip